<header class="header">
    <img class="header__img" src="{{ url_for('static', filename='img/logointel.png') }}" alt="Logo Intellinext">
    <div class="header__menu">
        <div class="header__menu--profile">
            <img src="{{ url_for('static', filename='img/book.png') }}" alt="Book">
            <a href="/books">Books</a>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menu--profile">
            <img src="{{ url_for('static', filename='img/analysis.png') }}" alt="Report">
            <a href="/reports"> Reports</a>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menu--profile">
            <img src="{{ url_for('static', filename='img/user-icon.png') }}" alt="User">
            <p>Perfil</p>
        </div>
        <ul>
            <li><a href="/account">My account</a></li>
            <li><a href="/login">Log out</a></li>
        </ul>
    </div>
</header>